$main-typeface: 'Lato', sans-serif;
$display-typeface: 'Jacques Francois Shadow', cursive;
$dark-green: #244c3c;
$middle-green: #526c5b;
$light-green: #dcdcbb;


body {
	font-family: $main-typeface;
	background-image: url('../images/background-img.png');  //not working at the moment
}
.display-typeface {
	font-family: $display-typeface;
	color: $dark-green;
	font-size: 2em;
	letter-spacing: 1.4px;
}

header {
  width: 100%;
  height: 20%;  
  text-align: center; 
  margin-bottom: 2%;
  background-color: $light-green;
  border: 10px double #244c3c;

  .header__container {
    display: flex;
    justify-content: space-around;
  }

}

main {
	display: flex;
	height: 500px;
	width: 100%;
	justify-content: space-between;

	.game {
		width: 60%;
	}

	.game__question {
		font-family: $display-typeface;
		color: $dark-green;
		background-color:$light-green;
		border: 10px double #244c3c;
		height: 20%;	
		margin-top: 0;	
	}

	#question-text {
		font-family: $display-typeface;
		color: $dark-green;
		background-color:$light-green;
		width: 90%;
	}

	.qStyle {
		font-family: $display-typeface;
		color: $light-green;
		/*background-color:$dark-green;		*/
		margin: 10% 0 0 0;
		font-size: 3.5em;
	}

	.main__game {
		padding: 2%;
		height: 100%;
		width: 60%;
		background-color:$light-green;

	}

	.main__player {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 20;
		background-color: #dcdcbb;
		width: 50%;
		height: 30%;
		top: 40%;
		left: 25%;
		border: 10px double #244c3c;

		.player__prompt {
		font-family: "Jacques Francois Shadow", cursive;
    	color: #244c3c;
   		font-size: 1.8em;
   		letter-spacing: 1.4px;
   		margin: 0 10% 5% 10%;
		}

		.player__input1, .player__input2 {
			width: 80%;
			height: 30px;
			margin: 0 10% 5% 10%;
			color: #244c3c;
		}

		.player__button {
			background-color: #526c5b;
			border: 4px inset #244c3c;
			color: #dcdcbb;
			height: 40px;
			width: 80%;
			margin: 0 12% 1% 11%;
			padding: 0;
		}
	}

	.inputs {
		padding: 2%;
		display: flex;
		height: 100%;
		width: 30%;
		flex-direction: column;
		background-color: $light-green;
		border: 10px double #244c3c;

		.inputs__player1 {
			margin-top: 20%;
		}

		.inputs__player2 {
			margin-top: 20%;
		}

		.player1__button {
			height: 40%;
			width: 30%;
			background-color: #526c5b;
			border: 4px inset #244c3c;
			color: #dcdcbb;
		}

		.player2__button {
			height: 40%;
			width: 30%;
			background-color: #526c5b;
			border: 4px inset #244c3c;
			color: #dcdcbb;
		}

		.player1__guess {
			width: 60%;
			height: 35%;

		}
		.player2__guess{
			width: 60%;
			height: 35%;

		}

		.inputs__reset {
			margin: 30% 30% 26% 30%;
   			height: 10%;
    		width: 35%;
    		background-color: #526c5b;
			border: 4px inset #244c3c;
			color: #dcdcbb; 

		}
	}
}

