$main-typeface: 'Lato', sans-serif;
$display-typeface: 'Jacques Francois Shadow', cursive;
$dark-green: #244c3c;
$middle-green: #526c5b;
$light-green: #dcdcbb;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	// transition: 1s;
	// border:1px solid red;
}

body {
	background-image: url('../images/background-img.png');
	font-family: $main-typeface;
	text-align: center;
}

.display-typeface {
	font-family: $display-typeface;
	color: $dark-green;
	font-size: 2em;
	letter-spacing: 1.4px;
}

.main-typeface {
	font-family: $main-typeface;
	color: $dark-green;
	font-size: 1.5em;
}

header {
  width: 100%;
  height: 20%;  
  text-align: center; 
  margin-bottom: 2%;
  background-color: $light-green;
  border: 10px double #244c3c;

  .header__container {
    display: flex;
		justify-content: space-between;
		padding: 10px 30px;
	}

	.container__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.header__h1 {
		font-size: 3em;
	}
	.container__player1,
	.container__player2 {
		margin-top: 20px;
	}

	.player2__name,
	.player1__name {
		font-size: 2em;
		width: 100%;

	}

	.container__round--timer {
		height: 43px;
	}

}
.game__question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-family: $display-typeface;
	color: $dark-green;
	font-size: 2.2em;
	background-color:$light-green;
	border: 10px double #244c3c;
	height: 4.1em;	
	padding:8px;
	
	#question-text {
		text-align: left;
		font-family: $main-typeface;
		color: $dark-green;
		background-color:$light-green;
		width: 90%;
		margin-left: 25px;
	}

}
button {
	height: 50px;
	background-color: #526c5b;
	border: 4px inset #244c3c;
	color: #dcdcbb;
	font-size: 1.3em;
	font-family: $display-typeface;
	margin: 10px auto;
	text-shadow:
 -1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	 1px 1px 0 #000;
	//  -webkit-text-fill-color: white; 
}
main {
	display: flex;
	justify-content: space-between;
	padding:20px;
	width: 100%;

	.game {
		width: 67%;
	}

	.qStyle {
		display: flex;
		justify-content: space-between;
		font-family: $display-typeface;
		color: $light-green;
		margin-bottom: 10px;
		padding: 5px 20px;
		font-size: 3.5em;
		background-color: $dark-green;
		border:10px double $light-green;
	}


	.main__game {
		padding: 8px;
		height: 100%;
		width: 60%;
		background-color:$light-green;
	}

	.inputs {
		background-color: $light-green;
		border: 10px double #244c3c;
		padding: 8px;
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.inputs__player1,
		.inputs__player2 {
			width: 100%;
		}

		.hidden {
			display: none;
		}

		.player1__button, 
		.player2__button,
		.inputs__reset {
			width: 150px;
		}

		.player1__guess,
		.player2__guess {
			width: 100%;
			height: 50px;
			font-size: 1em;
			margin: 10px 0px;
			padding: 0 10px;
		}

		.inputs__reset {
			align-self: center;
		}
	}

	.round-feedback {
		display: none;
		flex-direction: column;
		position: absolute;
		z-index: 10;
		background-color: #dcdcbb;
		width: 50%;
		height: 35%;
		min-height: 250px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 10px double #244c3c;
	}

	.feedback__style {
		display: flex;
		text-align: center;
		flex-direction: column;
		margin: 5% 10% 10% 10%;

		h3 {
			font-family: $display-typeface;
			color: $dark-green;
			font-size: 2em;
		}

		p {
			font-family: $main-typeface;
			color: $dark-green;
			font-size: 1.5em;	
		}
	}	
}


.main__player {
	background-color: #dcdcbb;
	border: 10px double #244c3c;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 20;
	width: 50%; 
	min-height: 250px;
	min-width: 490px; 
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;

	.player__prompt {
		font-family: $display-typeface;
		color: #244c3c;
		 font-size: 1.8em;
		 letter-spacing: 1.4px;
		 margin: 0 10% 5% 10%;
	}

}

.player__input1,
.player__input2 {
	align-self: center;
	width: 100%;
	height: 50px;
	margin: 5px 20px;
	color: #244c3c;
	font-size: 1em;
	padding: 0 10px;

}

.player__button {
	width: 250px;
}

.darken {
	position: absolute;
	top: 0;
	left: 0;
	z-index:10;
	height: 100%;
	width: 100%;
	filter: brightness(50%);
	background-color: #00000000;
	background-image: url('../images/background-img.png')
}

#multiplier-input {
	align-self: center;
	width: 140px;
	height: 50px;
	font-size: 1em;
	margin: 10px 0px;
	padding: 0 10px;
}
